MY_SQL/database/database
SQLSVER/Database_All_SQL/Data_BTH1/BTH1_Data_Log.ldf
SQLSVER/Database_All_SQL/Data_BTH1/BTH1_Data.mdf
SQLSVER/Database_All_SQL/QLNCKH.mdf
SQLSVER/Database_All_SQL/Data_BTH5/QLDONHANG_Data.mdf
SQLSVER/Database_All_SQL/Data_BTH5/QLDONHANG_Data_Log.ldf
SQLSVER/Database_All_SQL/QLNCKH_log.ldf
SQLSVER/Database_All_SQL/QLDONHANG_LogBackup_2024-05-21_20-55-00.bak
SQLSVER/Database_All_SQL/QLDONHANG.bak
